//META{"name":"Doverwatch","description":"Overwatch-inspired Discord Theme.","author":"iamjawa","version":"1.0"}*//

/* Background */
.app {
    background-image: url(https://i.imgur.com/QeEyO4m.jpg);
    background-size: cover;
}

/*Transparency*/
#voice-connection,
#friends,
#friends .btn,
.friends-header,
.friends-table,
.search-bar,
.guilds-wrapper,
.channels-wrap,
.guild-channels,
.account,
.links,
.chat,
.messages-wrapper,
.title-wrap,
.content,
.chat-empty,
.message-group-blocked,
.private-channels,
.guild-header header,
.typing,
.divider-red span {
    background: transparent !important;
}